html, body{

    background-color: rgb(6, 111, 111);
}

html, body {
    margin: 0%;
    padding: 0%;
text-align: center;
}

.sticky{

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

}

.card{
    background-color: rgb(6, 111, 111);
}


.progress-bar{
color: black;
    background-color: orange;
}

.progress-bar{

    text-align: center;
}

h2{
    background-color: rgb(6, 111, 111);

    text-align: center;

}

.card{
    border-color: rgb(110, 0, 110);
    text-align: center;

}

.btn{
   background-color: black;
display: flex;
    justify-content: center;
   align-items: center;
}
